{% extends "pychess/layout.html" %}


{% block title %}
pyChess Home
{% endblock %}


{% block body %}

    <style>

        .infoTable {
            width:65%;
        }

        @media (max-width:1500px) {
            .infoTable{
                width:90%;
            }
        }
    </style>

    <div class="centeredContent">
        <div class="infoTable" style="display:flex; flex-direction: column; align-items: center; justify-content:flex-start; height:95%;">
            
            <div style="display: flex; flex-direction: row; flex-basis: 10%; flex-shrink:0; width: 100%; text-align:center; justify-content: center;">
                    <div style="flex-basis:33%;">
                        <h1>Wins: {{ completedGames.wins }}</h1>
                    </div>
                    
                    <div style="flex-basis:33%;">
                        <h1 style="margin-left:10%; margin-right: 10%;">Draws: {{ completedGames.draws }}</h1>
                    </div>
                    
                    <div style="flex-basis:33%;">
                        <h1>Losses: {{ completedGames.losses }}</h1>
                    </div>
            </div>

            <div style="display:flex; flex-direction:row; flex-basis:85%; flex-shrink:1; flex-grow:1; width:100%; max-height:85%;">
                    <div style="display:flex; flex-direction: column; flex-basis:50%; text-align: center; overflow:scroll; border:solid; border-color:aliceblue; border-radius:15px; margin-right:5px;">
                        <div style="flex-basis:10%;">
                            <h2>Local Games:</h2>
                        </div>

                        {% if localGames %}
                            {% for game in localGames %}
                                <div style="flex-basis:5%; font-size:24px; font-weight: bold; margin-top:5px;">
                                    <a href="{% url 'localGame' %}?room={{game.roomCode}}">Room {{ game.roomCode }}</a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <h3>No local games to show!</h3>
                            </div>
                            <div>
                                <h3><a href="{% url 'play' %}">Try starting a new one here!</a></h3>
                            </div>
                        {% endif %}


                    </div>
                    <div style="display:flex; flex-direction: column; flex-basis:50%; text-align: center; overflow:scroll; border:solid; border-color:aliceblue; border-radius:15px; margin-left:5px;">
                        <div style="flex-basis:10%;">
                            <h2>Network Games:</h2>
                        </div>

                        {% if networkGames %}
                            {% for game in networkGames %}
                                <div style="display:flex; flex-direction:row; flex-basis:5%; align-items: center; margin-top:5px;">
                                    <div style="flex-basis:40%; font-size:24px; font-weight:bold;"><a href="{% url 'localGame' %}?room={{game.roomCode}}">Room {{ game.roomCode }}</a></div>
                                    
                                    {% if game.player2 %}
                                    
                                        {% if request.user == game.player1 %}
                                            <div style="flex-basis:60%; font-size:24px;">Against: <span style="font-weight: bold;">{{ game.player2 }}</span></div>
                                        {% else %}
                                            <div style="flex-basis:60%; font-size:24px;">Against: <span style="font-weight: bold;">{{ game.player1 }}</span></div>
                                        {% endif %}
                                    
                                    {% else %}
                                        <div style="flex-basis:60%; font-size:24px;">
                                            Waiting on player
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>
                                <h3>No network games to show!</h3>
                            </div>
                            <div>
                                <h3><a href="{% url 'play' %}">Try starting a new one here!</a></h3>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}