{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pychess/styles.css' %}">
</head>

<body>
    <div id="window" style="width:98vw; height:98vh;">
        <div id="mainContent">
            <div id="board">
                <table style="height:100%; width:100%">
                    <tr>
                        <td name="A8" id="A8" class="lightSquare"></td>
                        <td id="B8" class="darkSquare"></td>
                        <td id="C8" class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                    </tr>
                    <tr>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                    </tr>
                    <tr>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                    </tr>
                    <tr>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                    </tr>
                    <tr>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                    </tr>
                    <tr>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                    </tr>
                    <tr>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                    </tr>
                    <tr>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                        <td class="darkSquare"></td>
                        <td class="lightSquare"></td>
                    </tr>
                </table>
            </div>
            <div id="sidebar">
                {% if user.is_authenticated %}
                    <span style="color:white">You are logged in as <strong>{{ user }}</strong>. <a href="{% url 'logout' %}">Logout</a></span>
                {% else %}
                    <span style="color:white">You are not logged in.</span>
                {% endif %}
            </div>

        </div>


        <div id="overlayContent">
        {% block body %}
        {% endblock %}
        </div>
    </div>

</body>
</html>
