{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'pychess/styles.css' %}">
    </head>

    <body>
        <div class="screen">
            <div class="header">
                <div class="mainHeader">
                    pyChess
                </div>
                <div class="subHeader">
                    {% if user.is_authenticated %}
                        Logged in as: &nbsp;<strong>{{ user }}</strong>
                    {% else %}
                        You are not logged in
                    {% endif %}
                </div>
                <div class="navBar">
                    {% if user.is_authenticated %}
                        <div class="navLink"><a href="{% url 'index' %}">Home</a></div>
                        <div class="navLink"><a href="{% url 'play' %}">Play</a></div>
                        <div class="navLink"><a href="{% url 'review' %}">Review</a></div>
                        <div class="navLink"><a href="{% url 'spectate' %}">Spectate</a></div>
                        <div class="navLink"><a href="{% url 'logout' %}">Logout</a></div>
                    {% else %}
                        <div class="navLink"><a href="{% url 'login' %}">Login</a></div>
                        <div class="navLink"><a href="{% url 'register' %}">Register</a></div>
                        <div class="navLink"><a href="{% url 'spectate' %}">Spectate</a></div>
                    {% endif %}
                </div>
            </div>

            <div class="content">
                {% block body %}

                {% endblock %}
            </div>

            <div class="footer">
                <h3>a cs50 project by Chris Goins</h3>
            </div>
        </div>
    </body>
</html>