{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'pychess/styles.css' %}">
    </head>
    <body>
        <div class="header" style="font-size:20px">
            <h1 style="text-indent:10px;">pyChess</h1>
            {% if user.is_authenticated %}
            <div style="text-indent:10px">
                You are logged in as <strong>{{ user }}</strong>
            </div>
            {% else %}
            <div style="text-indent:10px;">
                You are not logged in
            </div>
            {% endif %}
            <div class="navbar">
                <a class="navlink" href="{% url 'index' %}">Home</a>
                {% if user.is_authenticated %}
                <a class="navlink" href="{% url 'play' %}">Play</a>
                <a class="navlink" href="{% url 'review' %}">Review</a>
                <a class="navlink" href="{% url 'spectate' %}">Spectate</a>
                {% else %}
                <a class="navlink" href="{% url 'login' %}">Login</a>
                <a class="navlink" href="{% url 'register' %}">Register</a>
                <a class="navlink" href="{% url 'spectate' %}">Spectate</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="content">
        {% block body %}
        {% endblock %}
        </div>
        <hr>
        <div class="footer">
            <h3>a cs50 project by Chris Goins</h3>
        </div>
    </body>
</html>