{% extends "pychess/layout.html "%}
{% load static %}


{% block title %}
Play Chess!
{% endblock %}


{% block body %}
    You are starting a local game
    <div id="board">

    </div>

    <script>
        let checkingMove = false;
        let boardState = {};

        drawBoard();
        boardState = getBoardState();
        boardState.then((state) => drawPieces(state));

        //returns a promise that will contain a JSON object with the current board state once fulfilled
        async function getBoardState()
        {
            const response = await fetch("{% url 'boardState' %}");
            const state = await response.json();
            return state;
        }

        //renders the checkerboard pattern on the screen, in the form of an HTML table
        function drawBoard()
        {
            let board = document.createElement("table");
            let isLight=true;
            let cellSize;
            if (window.innerHeight < window.innerWidth)
            {
                cellSize = `${window.innerHeight / 10}px`;
            }
            else
            {
                cellSize = `${window.innerWidth / 10}px`;
            }

            for (let i = 0; i < 8; i++)
            {
                let row = document.createElement("tr");
                for (let j = 0; j < 8; j++)
                {
                    let cell = document.createElement("td");
                    cell.style.width = cellSize;
                    cell.style.height = cellSize;
                    cell.id = `a${j}_${i}`;
                    if(isLight)
                        cell.style.backgroundColor = "#FFFFFF";
                    else
                        cell.style.backgroundColor = "#000000"

                    row.append(cell);
                    isLight = !isLight;
                }
                board.append(row);
                isLight = !isLight;
            }

            document.querySelector('#board').append(board);
        }

        //reads each piece position from the boardState, and adds <img> tags with click handlers to represent each piece to the board
        function drawPieces(boardState)
        {
            //grab an array of the keys from the boardState object to iterate through
            pieces = Object.keys(boardState);

            //index 0 is "playerToMove" and index 1 is "turnNumber", so start from index 2
            for(let i = 2; i < pieces.length; i++)
            {
                //only draw a piece if it has not been captured
                if(!boardState[pieces[i]]['captured'])
                {
                    //create an image tag for each piece
                    const pieceCode = pieces[i][0] + pieces[i][1];
                    const image = getImage(pieceCode);
                    
                    //when the piece is clicked, call clickPiece() and pass in all the information we have about the piece in question
                    image.addEventListener('click', () => clickPiece(pieces[i], boardState[pieces[i]]))

                    //find the correct space to place it, and append the image file
                    document.querySelector(`#a${boardState[pieces[i]]['rank']}_${boardState[pieces[i]]['file']}`).append(image);
                }
            }
        }
    

        function getImage(pieceCode)
        {
            image = document.createElement("img");

            switch (pieceCode)
                {
                    case 'dp':
                        image.src="{% static '/pychess/images/pawn_dark.png' %}";
                        break;
                    case 'lp':
                        image.src="{% static '/pychess/images/pawn_light.png' %}";
                        break;
                    case 'dr':
                        image.src="{% static '/pychess/images/rook_dark.png' %}";
                        break;
                    case 'lr':
                        image.src="{% static '/pychess/images/rook_light.png' %}";
                        break;
                    case 'dn':
                        image.src="{% static '/pychess/images/knight_dark.png' %}";
                        break;
                    case 'ln':
                        image.src="{% static '/pychess/images/knight_light.png' %}";
                        break;
                    case 'db':
                        image.src="{% static '/pychess/images/bishop_dark.png' %}";
                        break;
                    case 'lb':
                        image.src="{% static '/pychess/images/bishop_light.png' %}";
                        break;
                    case 'dq':
                        image.src="{% static '/pychess/images/queen_dark.png' %}";
                        break;
                    case 'lq':
                        image.src="{% static '/pychess/images/queen_light.png' %}";
                        break;
                    case 'dk':
                        image.src="{% static '/pychess/images/king_dark.png' %}";
                        break;
                    case 'lk':
                        image.src="{% static '/pychess/images/king_light.png' %}";
                        break;
                    default:
                        break;
                }

            return image;
        }


        function clickPiece(pieceID, pieceInfo)
        {
            //pieceID will be the unique ID of the specific piece we're working with (eg 'lp1', 'db2', etc)
            //pieceInfo is a JSON object containing that pieces current rank, file, and a boolean to represent whether it's been captured

            console.log(pieceID);
            console.log(pieceInfo);

            //when piece is clicked
            //if checkingMoves == false
            //{
            //  checkingMoves = true
            //  fetch checkMoves, passing the piece ID as a GET parameter
            //  color the valid moves green
            //}
            //else
            //{
            //  checkingMoves = false
            //  fetch submitMove, passing the piece and position as POST parameters
            //  get the board state and redraw.
            //  if the move was invalid, do nothing and let the player try again
            //  if the move was valid, begin polling the db on a set interval to check for a move made by the opposing player
            //}

            //only allow clicks on a piece belonging to the player whose turn it is
        }

    </script>
{% endblock %}