{% extends "pychess/layout.html "%}
{% load static %}


{% block title %}
Play Chess!
{% endblock %}


{% block body %}

<style>
    @media (max-width:1500px){
        .game {
            flex-direction:column;

        }
    }
</style>

<div class="gameContainer">
    <div class="game">
        <div class="boardContainer" id="boardContainer">
            <div class="board">
                <div class="boardRow" style="background-color: yellowgreen;">
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                </div>
                <div class="boardRow" style="background-color: green;">
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                </div>
                <div class="boardRow" style="background-color: yellowgreen;">
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                </div>
                <div class="boardRow" style="background-color: green;">
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                </div>
                <div class="boardRow" style="background-color: yellowgreen;">
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                </div>
                <div class="boardRow" style="background-color: green;">
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                </div>
                <div class="boardRow" style="background-color: yellowgreen;">
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                </div>
                <div class="boardRow" style="background-color: green;">
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                    <div class="darkCell"></div>
                    <div class="lightCell"></div>
                </div>

            </div>
        </div>
        <div class="info">
            <div class="infoTop"><span id="player"></span>&nbsp;to move</div>
            <div class="infoBottomLocal" id="moveList">

            </div>
        </div>
    </div>
</div>

    {% csrf_token %}


{% endblock %}