{% extends "pychess/layout.html" %}

{% load static %}

{% block title %}
pyChess Login
{% endblock %}


{% block body %}
    <div class="centeredContent" style="align-items:start;">
        <div style="display:flex; flex-direction: column;">

            {% if message %}
            <div class="errorMessage">
                    <strong>{{ message }}</strong>
            </div>
            {% endif %}

            <div>
                <h1>Welcome to pyChess!</h1>
            </div>

            <div class="loginForm">
                <form action="{% url 'login' %}" method="POST">
                    <div style="color:white">Username:</div>
                    <input class="loginInput" type="text" name="username"><br>
                    <br>
                    <div style="color:white">Password:</div>
                    <input class="loginInput" type="password" name="password"><br>
                    <br>
                    <input class="loginInput" type="submit" value="Login">
                    {% csrf_token %}
                </form>
                <br>
                <div>Don't have an account? <a href="{% url 'register' %}">Register Here.</a></div>
            </div>

        </div>
    </div>
{% endblock %}