{% extends "pychess/layout.html" %}

{% load static %}

{% block title %}
pyChess Login
{% endblock %}


{% block body %}

    <style>
        .formContainer{
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
        }

        .formItem{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-top:10px;
            font-size:18px;
            height:1.5em;
            text-align: center;
        }
    </style>

    {% if message %}
    <div class="errorMessage">
            <strong>{{ message }}</strong>
    </div>
    {% endif %}



    <div class="formContainer">

        <h1>Welcome to pyChess!</h1>

        <form action="{% url 'login' %}" method="POST">
            <div class="formItem">Username:</div>
            <input class="formItem" type="text" name="username">
            <div class="formItem">Password:</div>
            <input class="formItem" type="password" name="password">
            <div class="formItem"><input class="formItem" type="submit" value="Login"></div>
            {% csrf_token %}
        </form>

        <div class="formItem">Don't have an account? &nbsp; <a href="{% url 'register' %}">Register Here.</a></div>
    </div>

{% endblock %}