{% extends 'pychess\layout.html' %}


{% block title %}
Play chess!
{% endblock %}


{% block body %}
    
    <style>
        .links{
            display:flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            margin-top:5%;
        }

        .form{
            display:none; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            margin-top:5%;
        }

        .infoHeader{
            font-size:36px;
            font-weight:bold;
        }

        .linkItem{
            font-size:24px;
            font-weight:bold;
            margin-top:20px;
        }

        .formItem{
 
            font-size:24px;
            height:1.5em;
            margin-top:20px;
        }

    </style>

    {% if message %}
        <div class="errorMessage">
            <strong>{{ message }}</strong>
        </div>
    {% endif %}

        <div id="links" class="links">
            <div class="infoHeader">Start or Join a game:</div>
            <a class="linkItem" href="{% url 'localGame' %}">New Local Game</a>
            <a class="linkItem" href="{% url 'networkGame' %}">New Network Game</a>
            <a class="linkItem" href="#" id="join">Join Network Game</a>
        </div>
        
        <div id="form" class="form">
            <div class="infoHeader">Enter room code:</div> 
            <form method="POST">
                <input class="formItem" type="text" name="roomCode" maxlength="6" placeholder="ROOM CODE">
                <input class="formItem" type="submit" value="Join Game">
                {% csrf_token %}
            </form>
            <button class="formItem" id="back">Go Back</button>
        </div>



    <script>
        document.querySelector("#join").addEventListener('click', joinGame);
        document.querySelector("#back").addEventListener('click', back)

        function joinGame()
        {
            document.querySelector("#links").style.display = "none";
            document.querySelector("#form").style.display = "flex";
        }

        function back()
        {
            document.querySelector("#links").style.display = "flex";
            document.querySelector("#form").style.display = "none"; 
        }


    </script>
{% endblock %}