{% extends "pychess/layout.html" %}

{% load static %}

{% block title %}
Register for pyChess
{% endblock %}

{% block body %}
    <div class="centeredContent" style="align-items:start;">
        
        <div style="display:flex; flex-direction: column;">

            {% if message %}
                <div class="errorMessage">
                    {{ message }}
                </div>
            {% endif %}

            <div>
                <h1> Register for new account </h1>
            </div>
            
            <div class="loginForm">
                <form action="{% url 'register' %}" method="POST">
                    <div style="color:white">Username:</div>
                    <input class="loginInput" type="text" name="username" placeholder="Username"><br>
                    <br>
                    <div style="color:white">Email Address:</div>
                    <input class="loginInput" type="text" name="email" placeholder="Email Address"><br>
                    <br>
                    <div style="color:white">Password:</div>
                    <input class="loginInput" type="password" name="password" placeholder="Password"><br>
                    <br>
                    <div style="color:white">Confirm Password:</div>
                    <input class="loginInput" type="password" name="passwordConfirm" placeholder="Confirm Password"><br>
                    <br>
                    <input class="loginInput" type="submit" value="Create Account">
                    {% csrf_token %}
                </form>
                <br>
                <div>Already have an account? <a href="{% url 'login' %}">Login Instead.</a></div>
            </div>
        
        </div>
    </div>


{% endblock %}