{% extends "pychess/layout.html" %}

{% load static %}

{% block title %}
Register for pyChess
{% endblock %}

{% block body %}
    <style>
        .formContainer{
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
        }

        .formItem{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-top:10px;
            font-size:18px;
            height:1.5em;
            text-align: center;
        }
    </style>

    {% if message %}
    <div class="errorMessage">
            <strong>{{ message }}</strong>
    </div>
    {% endif %}



    <div class="formContainer">
        <h1> Register for a new pyChess account </h1>

        <form action="{% url 'register' %}" method="POST">
            <div class="formItem">Username:</div>
            <input class="formItem" type="text" name="username" placeholder="Username">
            <div class="formItem">Email Address:</div>
            <input class="formItem" type="text" name="email" placeholder="Email (Optional)">
            <div class="formItem">Password:</div>
            <input class="formItem" type="password" name="password" placeholder="Password">
            <div class="formItem">Confirm Password:</div>
            <input class="formItem" type="password" name="passwordConfirm" placeholder="Confirm Password">
            <div class="formItem"><input class="formItem" type="submit" value="Create Account"></div>
            {% csrf_token %}
        </form>

        <div class="formItem">Already have an account? <a href="{% url 'login' %}">Login Here.</a></div>

    </div>

{% endblock %}