{% extends "pychess/layout.html"%}

{% block title %}
Review
{% endblock %}

{% block body %}

<style>
    td 
    {
        text-align:center; 
        font-size: large;
        height: 25px;
    }

    th
    {
        width:150px; 
        font-size: larger; 
        font-weight: bold;
    }

</style>

<div class="centeredContent" style="align-items: start;">
    <div style="height:100%; display:flex; flex-direction: column;">

    {% if games %}


        <div style="text-align: center; margin: 2%;">
        <H1>Select a past game to review:</H1>
        </div>

        <br><br>
        <div class="tableScroller">
            <table style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th style=>Game Type:</th>
                        <th style="width:150px; font-size: larger; font-weight: bold;">Opponent:</th>
                        <th style="width:150px; font-size: larger; font-weight: bold;">Outcome:</th>
                        <th style="width:150px; font-size: larger; font-weight: bold;">Room Code:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.gameType }}</td>
                            <td style="overflow:hidden; text-overflow: ellipsis; text-wrap: nowrap;">{{ game.opponent }}</td>
                            <td>{{ game.outcome }}</td>
                            <td><a href="{% url 'reviewGame' game.roomCode %}">{{ game.roomCode }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <div style="text-align: center; margin: 2%;">
            <H1>No games to review!</H1>
            <h3><a href="{% url 'play' %}">Try starting a new game here!</a></h3>
        </div>
        
        <br><br>

            

         

    {% endif %}

    </div>
</div>

{% endblock %}