{% extends "pychess/layout.html"%}

{% block title %}
Spectate
{% endblock %}

{% block body %}

    <style>
        .container{
            display:flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            margin-top:5%;
        }

        .infoHeader{
            font-size:36px;
            font-weight:bold;
        }

        .formItem{
            font-size:24px;
            height:1.5em;
            margin-top:20px;
            text-align:center;
        }
    </style>


    {% if message %}
                <div class="errorMessage">
                        <strong>{{ message }}</strong>
                </div>
    {% endif %}


    <div class="container">
        
        <div class="infoHeader">Enter a room code:</div>

        <form method="post" action="{% url 'spectate' %}">
            <div class="formItem">
            <input class="formItem" type="text" name="roomCode" placeholder="Room Code">
            <br><br>
            <input class="formItem" type="submit" value="Spectate">
            {% csrf_token %}
            </div>
        </form>

    </div>

{% endblock %}