body {
    background-color: rgb(31, 27, 82);
}

.header {
    position:relative;
    min-height:15vh;
    color:white;

}

.navbar {
    position:absolute;
    bottom:0;
}

.navlink {
    margin-left: 10px;
    margin-right: 10px;
    border:solid;
}

.content {
    height:80vh;
    color:white;
}

.footer {
    height:5vh;
    color:white;
    text-align:center;
}